In [1]:
import os
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['title_basics.csv.gz',
 'title_akas_us.csv.gz',
 'title-akas-us-only.csv',
 '.ipynb_checkpoints',
 'title_ratings.csv.gz']

In [2]:
import json
with open('/Users/patelmedzy/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
#IMPORTS
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
from urllib.parse import quote_plus as urlquote
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
#connection = "dialect+driver://username:password@host:port/database"
#connection_str = "mysql+pymysql://root:root@localhost/books"
#connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/books"
#engine = create_engine(connection)

## 1. Download several files from IMDBâ€™s movie data set and filter out the subset of moves requested by the stakeholder.

!('https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg')

In [4]:
#IMPORT Title basics
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
basics['genres'].value_counts()

Drama                        1143682
Comedy                        685136
Talk-Show                     618615
Drama,Romance                 483552
Documentary                   480626
                              ...
Film-Noir,Horror                   1
Documentary,Mystery,War            1
Game-Show,Horror,Thriller          1
Comedy,History,Thriller            1
Adventure,Mystery,Sport            1
Name: genres, Length: 2340, dtype: int64

In [7]:
#Import Title ratings
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [8]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1989
1  tt0000002            5.8       265
2  tt0000003            6.5      1851
3  tt0000004            5.5       178
4  tt0000005            6.2      2635

In [9]:
#Import Title akas
akas = pd.read_csv("Data/title-akas-us-only.csv", low_memory=False)

In [10]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [11]:
akas.replace({'\\N': np.nan}, inplace=True)

In [12]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [13]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

0            True
1            True
2           False
3           False
4            True
            ...
10044528    False
10044529    False
10044530    False
10044531    False
10044532    False
Name: tconst, Length: 10044533, dtype: bool

In [14]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10044394,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10044423,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10044461,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10044484,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10044488,tt9916764,short,38,38,0,2018,\N,\N,Short

In [15]:
basics.replace({'\\N': np.nan}, inplace=True)

In [16]:
# Filter movies released between 2000 and 2021 (inclusive)
basics = basics[(basics['startYear'].astype(float) >= 2000) & (basics['startYear'].astype(float) <= 2021)]

In [17]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33802,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,NaN,20,Short
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
39544,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021,NaN,6,Short
43546,tt0044326,short,Abstronic,Abstronic,0,2021,NaN,6,Short
49493,tt0050396,short,Final Curtain,Final Curtain,0,2012,NaN,20,"Horror,Short"

In [18]:
# Filter full-length movies (titleType = "movie")
basics = basics[basics['titleType'] == 'movie']

In [19]:
# Exclude movies with missing values for genre or runtime
basics = basics.dropna(subset=['genres', 'runtimeMinutes'])

In [20]:
# Exclude movies from the Documentary genre
basics = basics[~basics['genres'].str.contains('Documentary')]

In [21]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81904 entries, 34802 to 10044299
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81904 non-null  object
 1   titleType       81904 non-null  object
 2   primaryTitle    81904 non-null  object
 3   originalTitle   81904 non-null  object
 4   isAdult         81904 non-null  object
 5   startYear       81904 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  81904 non-null  object
 8   genres          81904 non-null  object
dtypes: object(9)
memory usage: 6.2+ MB

In [22]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1334305 entries, 0 to 1334304
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1334305 non-null  object
 1   averageRating  1334305 non-null  float64
 2   numVotes       1334305 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.5+ MB

In [23]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452564 non-null  object
 3   region           1452564 non-null  object
 4   language         4018 non-null     object
 5   types            981678 non-null   object
 6   attributes       47016 non-null    object
 7   isOriginalTitle  1451222 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

In [24]:
# Save filtered title.basics DataFrame
basics.to_csv('Data/title_basics.csv.gz', compression='gzip', index=False)

# Save filtered title.ratings DataFrame
ratings.to_csv('Data/title_ratings.csv.gz', compression='gzip', index=False)

# Save filtered title.akas DataFrame for US movies
akas.to_csv('Data/title_akas_us.csv.gz', compression='gzip', index=False)

In [25]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [26]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1989
1  tt0000002            5.8       265
2  tt0000003            6.5      1851
3  tt0000004            5.5       178
4  tt0000005            6.2      2635

In [27]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas_us.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0