In [1]:
#IMPORTS
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
from urllib.parse import quote_plus as urlquote
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
#connection = "dialect+driver://username:password@host:port/database"
#connection_str = "mysql+pymysql://root:root@localhost/books"
#connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/books"
#engine = create_engine(connection)

In [2]:
import json
with open('/Users/patelmedzy/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81902 entries, 0 to 81901
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81902 non-null  object
 1   titleType       81902 non-null  object
 2   primaryTitle    81902 non-null  object
 3   originalTitle   81902 non-null  object
 4   isAdult         81902 non-null  int64
 5   startYear       81902 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81902 non-null  int64
 8   genres          81902 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.6+ MB

In [4]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504249 entries, 0 to 504248
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         504249 non-null  object
 1   averageRating  504249 non-null  float64
 2   numVotes       504249 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.5+ MB

In [5]:
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2593 entries, 0 to 2592
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2593 non-null   object
 1   adult                  2591 non-null   float64
 2   backdrop_path          1429 non-null   object
 3   belongs_to_collection  211 non-null    object
 4   budget                 2591 non-null   float64
 5   genres                 2591 non-null   object
 6   homepage               171 non-null    object
 7   id                     2591 non-null   float64
 8   original_language      2591 non-null   object
 9   original_title         2591 non-null   object
 10  overview               2547 non-null   object
 11  popularity             2591 non-null   float64
 12  poster_path            2347 non-null   object
 13  production_companies   2591 non-null   object
 14  production_countries   2591 non-null   object
 15  release_date           2570 non-null   object
 16  revenue                2591 non-null   float64
 17  runtime                2591 non-null   float64
 18  spoken_languages       2591 non-null   object
 19  status                 2591 non-null   object
 20  tagline                1115 non-null   object
 21  title                  2591 non-null   object
 22  video                  2591 non-null   float64
 23  vote_average           2591 non-null   float64
 24  vote_count             2591 non-null   float64
 25  certification          812 non-null    object
dtypes: float64(9), object(17)
memory usage: 526.8+ KB

## Getting a List of Unique Genres

In [6]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016,NaN,90,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81897,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
81898,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81899,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
81900,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81901,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016,NaN,90,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
81900,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Action
81900,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Adventure
81900,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Thriller
81901,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
81901,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [8]:
genres_split = basics['genres'].str.split(",")

unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [9]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

## Create a new title_genres table

In [10]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head(2)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy

## Create a genre mapper dictionary to replace string to genres with integers

In [11]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

## Replace the string genres in title_genres with the new integer ids

In [12]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].map(genre_map)
basics = basics.drop(columns='genres_split')

TypeError: unhashable type: 'list'

## Convert the genre map dictionary into a dataframe

In [ ]:
genre_lookup = pd.Dataframe({'Genre_Name': genre_id_map.keys(),
                            'Genre_ID':genre_id_map.values()})
genre_lookup.head(2)

## Saving the MySQL tables with tconst as primary key

In [ ]:
## Set the dataframe index and use index=True 

#df.set_index('int_index').to_sql('table_name',engine,index=True)

In [ ]:
#df.dtypes

## Find the max string length

In [ ]:
## get max string length
#max_str_len = df['column'].fillna('').map(len).max()

In [ ]:
## Example
'''
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}
'''

## Run df.to_sql with the dtype argument.

In [ ]:
# Save to sql with dtype and index=False
#basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

##  Run the query to ADD PRIMARY KEY

In [ ]:
#engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')