# Stakeholder Questions
1) Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?
2) Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?
3) Are some genres higher rated than others?


- For each question, they would like:
    - perform a statistical test to get a mathematically-supported answer.
    - report if you found a significant difference between ratings.
    - what was the p-value of your analysis?
    - which rating earns the most revenue?
    - prepare a visualization that supports your finding.

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import glob
import json
import os
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
price_fmt = StrMethodFormatter("${x:,.0f}")
import seaborn as sns


import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

from scipy import stats
## Post Hoc
from statsmodels.stats.multicomp import pairwise_tukeyhsd


#Folder path must end with /
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2010.json',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2022.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2010.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_api_results_2018.json',
 'final_tmdb_data_2023.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'tmdb_api_results_2014.json',
 'final_tmdb_data_2015.csv.gz',
 'tmdb_api_results_2015.json',
 'final_tmdb_data_2021.csv.gz',
 'title_akas_us.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'title-akas-us-only.csv',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2023.json',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'final_tmdb_data_2013.csv.gz',
 'tmdb_api_results_2012.json',
 'tmdb_results_combined.csv.gz',
 'tmdb_api_results_2013.json',
 'final_tmdb_data_2011.csv.gz',
 'title_ratings.csv.gz']

# TMDB

In [2]:
with open('/Users/patelmedzy/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()
tmdb.API_KEY =  login['api-key']

In [3]:
# Load Dataframe
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81902 entries, 0 to 81901
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81902 non-null  object
 1   titleType       81902 non-null  object
 2   primaryTitle    81902 non-null  object
 3   originalTitle   81902 non-null  object
 4   isAdult         81902 non-null  int64
 5   startYear       81902 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81902 non-null  int64
 8   genres          81902 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.6+ MB

In [4]:
def get_movie_with_rating(movie_id):
    #Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    #Save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    #Loop thru countries in releases
    for c in releases["countries"]:
        #if the country abbreviation == US
        if c["iso_3166_1"] == "US":
            #Save a certification key to new column
            info["certification"] = c["certification"]
    return info

In [5]:
#Testing API function to get info on "The Avengers" movie
get_movie_with_rating("tt0848228")

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 127.613,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.711,
 'vote_count': 29003,
 'certification': 'PG-13'}

## Movies from 2010-2019

In [32]:
YEARS_TO_GET = range(2010,2019)

### Define an errors list

In [33]:
errors = []

### OUTER & INNER Loop

In [ ]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df["imdb_id"])]
    
# Get index and movie id from list
# INNER loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", 
                         compression="gzip", index=False)

print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/9 [00:00<?, ?it/s]

Movies from 2010:   0%|          | 0/3863 [00:00<?, ?it/s]

### Using glob to get a list of files

In [28]:
import glob
q = "Data/final_tmdb_data_20*.csv.gz"
chunked_files = glob.glob(q)
# Showing the first 5
chunked_files

['Data/final_tmdb_data_2018.csv.gz',
 'Data/final_tmdb_data_2014.csv.gz',
 'Data/final_tmdb_data_2022.csv.gz',
 'Data/final_tmdb_data_2016.csv.gz',
 'Data/final_tmdb_data_2020.csv.gz',
 'Data/final_tmdb_data_2000.csv.gz',
 'Data/final_tmdb_data_2012.csv.gz',
 'Data/final_tmdb_data_2010.csv.gz',
 'Data/final_tmdb_data_2023.csv.gz',
 'Data/final_tmdb_data_2019.csv.gz',
 'Data/final_tmdb_data_2015.csv.gz',
 'Data/final_tmdb_data_2021.csv.gz',
 'Data/final_tmdb_data_2017.csv.gz',
 'Data/final_tmdb_data_2001.csv.gz',
 'Data/final_tmdb_data_2013.csv.gz',
 'Data/final_tmdb_data_2011.csv.gz']

In [29]:
## Loading all files as df and appending to a list
df_list = []
for file in chunked_files:
    print(file)
    temp_df = pd.read_csv(f"{file}")
    df_list.append(temp_df)

Data/final_tmdb_data_2018.csv.gz
Data/final_tmdb_data_2014.csv.gz
Data/final_tmdb_data_2022.csv.gz
Data/final_tmdb_data_2016.csv.gz
Data/final_tmdb_data_2020.csv.gz
Data/final_tmdb_data_2000.csv.gz
Data/final_tmdb_data_2012.csv.gz
Data/final_tmdb_data_2010.csv.gz
Data/final_tmdb_data_2023.csv.gz
Data/final_tmdb_data_2019.csv.gz
Data/final_tmdb_data_2015.csv.gz
Data/final_tmdb_data_2021.csv.gz
Data/final_tmdb_data_2017.csv.gz
Data/final_tmdb_data_2001.csv.gz
Data/final_tmdb_data_2013.csv.gz
Data/final_tmdb_data_2011.csv.gz

In [30]:
#List comprehension to combine files into 1 df
## Loading and Concatenating the list of dfs with 1 line
df = pd.concat([pd.read_csv(file) for file in chunked_files])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2607 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2607 non-null   object
 1   adult                  2591 non-null   float64
 2   backdrop_path          1429 non-null   object
 3   belongs_to_collection  211 non-null    object
 4   budget                 2591 non-null   float64
 5   genres                 2591 non-null   object
 6   homepage               171 non-null    object
 7   id                     2591 non-null   float64
 8   original_language      2591 non-null   object
 9   original_title         2591 non-null   object
 10  overview               2547 non-null   object
 11  popularity             2591 non-null   float64
 12  poster_path            2347 non-null   object
 13  production_companies   2591 non-null   object
 14  production_countries   2591 non-null   object
 15  release_date           2570 non-null   object
 16  revenue                2591 non-null   float64
 17  runtime                2591 non-null   float64
 18  spoken_languages       2591 non-null   object
 19  status                 2591 non-null   object
 20  tagline                1115 non-null   object
 21  title                  2591 non-null   object
 22  video                  2591 non-null   float64
 23  vote_average           2591 non-null   float64
 24  vote_count             2591 non-null   float64
 25  certification          812 non-null    object
dtypes: float64(9), object(17)
memory usage: 549.9+ KB

# SQL

In [ ]:
# Obtain the MySQL login username and password
with open('/Users/patelmedzy/.secret/mysql.json') as f:
    login = json.load(f)
# Display the MySQL login keys
login.keys()

In [ ]:
# Create a connection string using credentials following this format:
# connection = "dialect+driver://username:password@host:port/database"
database_name = "Movies"
connection_str = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/{database_name}"

In [ ]:
# Create an instance of the sqlalchemy Engine Class using create_engine
engine = create_engine(connection_str)

# Questions

### Function to interpret p-value

In [ ]:
# Create a function to evaluate the p=value of a hypothesis test
def interpret_pvalue(ho, ha, alpha=.05):
    ho_desc = 'No statistical significance exists. The null hypothesis was not rejected.'
    ha_desc = 'A statistical significance exists. The null hypothesis is rejected and the alternative is supported that..'
    if pvalue < alpha:
        print(f'The p-value for the test was {pvalue}')
        print(f'It was < the alpha value of {alpha}, so')
        print(ha_desc)
        print(ha)
    else:
        print(f'The p-value for the test was {pvalue}')
        print(f'It was > the alpha value of {alpha}, so')
        print(ho_desc)
        print(ho)

## 1) Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

### Stating Hypothesis
- $H_0$ (Null Hypothesis): The MPAA rating of a movie does not affect how much revenue the movie generates.
- $H_A$ (Alternate Hypothesis): The MPAA rating of a movie does affect how much revenue the movie generates.

In [ ]:
# Import Data
# Use an SQL query to create a dataframe
q = """
SELECT certification, revenue
FROM tmdb_data
WHERE revenue > 0 AND certification IS NOT NULL
;"""
df = pd.read_sql(q, engine)

In [ ]:
df.head()

In [ ]:
# Display the unique values and their counts for this column
df['certification'].value_counts()

### Selecting the correct test to perform
- Target Datatype: 
    - Numeric (revenue)
- Number of Samples: 
    - more than 5 samples (certification)
- Test to perform:
    - parametric: ANOVA and/or Tukey
    - non-parametric: Kruskal-Wallis and/or Tukey

### Assumptions
- No significant outliers
- Normality 
- Equal Variance

#### Testing Assumptions: No Significant Outliers

In [ ]:
# Creating a loop function to test for number or outliers

groups = {}
for certification in df['certification'].unique():
    cert_df = df.loc[df['certification'] == certification, 'revenue']
    groups[certification] = cert_df
groups.keys()

In [ ]:
# Loop through the groups to obtain
# the number of outliers, display the result and then remove them
for certification, revenue in groups.items():
    # Calculate the number of outliers
    outliers = np.abs(stats.zscore(revenue)) > 3
    # Display the number of outliers in the group
    print(f"{outliers.sum()} outliers were removed from the {certification} group.")
    # Remove the outliers
    groups[certification] = revenue.loc[~outliers]

 - No Significant Outliers Assumptions has been met.

#### Testing Assumptions: Normality

In [ ]:
# Loop through groups to obtain group count and p-value for Normality test
normality_results = {}
for certification, revenue in groups.items():
    stat, p = stats.normaltest(revenue)
    results[certification] = {'n':len(revenue), 'p':p}

In [ ]:
normality_results = pd.DataFrame(normality_results)
normality_results.head()

In [ ]:
# transposing the results dataframe
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html
normality_results = normality_results.T
normality_results.head()

In [ ]:
normality_results['sig?'] = normality_results['p'] < .05

In [ ]:
normality_results

- The p-values are less than 0.05 for PG-13, PG and R the MPAA ratings. While the p-values for G and NR are greater than 0.05.
- The groups are not large enough to ignore the assumption of Normality. Hence, Assumption for Normality is not met.
- I will perform the non-parametric equivalent of your test: Kruskal-Wallis and/or Tukey

#### Testing Assumption: Equal Variance

In [ ]:
# Hypothesis
ho = "All input samples are from populations with equal variances."
ha = "All input samples are not from populations with equal variances."
# Run the test
statistic, pvalue = stats.levene(*groups.values())
# Display the interpretation
interpret_pvalue(ho, ha, alpha=.05)

- interpret results of equal variance test

### Execute Selected Test (or alternative is test assumptions have not been met)

#### Interpret p-value

In [ ]:
# Hypotheses
ho = 'The MPAA rating of a movie does not affect how much revenue the movie generates.'
ha = 'The MPAA rating of a movie does affect how much revenue the movie generates.'
# Run the test
statistic, pvalue = stats.kruskal(*groups.values())
# Display the interpretation
interpret_pvalue(ho, ha, alpha=.05)

### Show a supporting visualization to display results

In [ ]:
fig, ax = plt.subplots(nrows=1, figsize=(8,4), facecolor='w')
plt.title('MPAA rating', fontsize = 22, weight='bold')
sns.barplot(data=df, x='certification', y='revenue', ci=68, palette="viridis")
ax.set_xticklabels(ax.get_xticklabels(), rotation='45', ha='right')
plt.xlabel("MPAA rating", fontsize = 16, weight='bold')
plt.xticks(weight='bold')
ax.set_ylabel('Revenue (dollars)',fontweight='bold',fontsize=14)
ax.set_facecolor('lightblue')
ax.tick_params(labelcolor='k', labelsize=10)
ax.set_yticklabels(ax.get_yticks(), weight='bold')
ax.yaxis.set_major_formatter(price_fmt)
for axis in ['top','bottom','left','right']:
    ax.spines[axis].set_linewidth(3)
plt.tight_layout()
plt.show;
#plt.savefigImages/mages/MPAA Ratings vs Revenue.png');

In [ ]:
'''
# Create a box plot
sns.barplot(data=df, x=df['certification'], y=df['revenue'])
plt.xlabel('Ratings')
plt.ylabel('Revenue')
plt.title('Ratings Revenue')
plt.xticks(rotation=45)
plt.show()
'''

## 2) Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?

### Stating Hypothesis
- $H_0$ (Null Hypothesis): No difference. Movies that are over 2.5 hours do not have a significantly different revenue than movies that under 1.5 hours in length.
- $H_A$ (Alternate Hypothesis): There is a significant differnce. Movies that are over 2.5 hours have a significantly different revenue than movies that under 1.5 hours in length.

### Selecting the correct test to perform
- Target Datatype: 
    - Numeric (revenue)
- Number of Samples: 
    - 2 samples (movies less than 1.5 hours in length, and movies greater than 2.5 hours in length)
- Test to perform:
    - parametric: 2 Sample T-Test
    - non-parametric: Welch's T-Test

### Assumptions
- No significant outliers
- Normality 
- Equal Variance

## 3) Are some genres higher rated than others?

### Stating Hypothesis
- $H_0$ (Null Hypothesis): No difference. The genre of a movei does not affect the amount of revenue generated by a movie.
- $H_A$ (Alternate Hypothesis): There is a significant difference. The genre of a movie does affect the amount of revenue generated by a movie.

### Selecting the correct test to perform
- Target Datatype: 
    - Numeric (revenue)
- Number of Samples: 
    - more than 2 samples (genres)
- Test to perform:
    - parametric: ANOVA and/or Tukey
    - non-parametric: Kruskal-Wallis and/or Tukey

### Assumptions
- No significant outliers
- Normality 
- Equal Variance